absl-py==0.7.0
alabaster==0.7.12
appdirs==1.4.3
appnope==0.1.0
arrow==0.13.1
astor==0.7.1
astroid==2.2.0
atari-py==0.2.6
atomicwrites==1.3.0
attrs==18.2.0
autopep8==1.4.3
Babel==2.6.0
backcall==0.1.0
binaryornot==0.4.4
bleach==3.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
codetimer==0.1.0
colorama==0.4.1
cookiecutter==1.6.0
coverage==4.0.3
cycler==0.10.0
deap==1.3.0
decorator==4.3.2
defusedxml==0.5.0
dill==0.2.9
docutils==0.14
entrypoints==0.3
filelock==3.0.10
flake8==3.7.7
flatbuffers==1.10
funcsigs==1.0.2
future==0.17.1
gast==0.2.2
google-pasta==0.1.7
greenlet==0.4.15
grpcio==1.18.0
gym==0.13.1
idna==2.8
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.9
jedi==0.13.2
Jinja2==2.10
jinja2-time==0.2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
line-profiler==2.1.2
linetimer==0.1.0
lz4==2.1.6
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.3
mccabe==0.6.1
Mesa==0.8.5
MiniSom==2.1.5
mistune==0.8.4
more-itertools==6.0.0
multiprocess==0.70.7
mysql-connector==2.2.9
mysql-connector-python-rf==2.2.2
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
nose==1.3.7
notebook==5.7.4
numpy==1.16.1
opencv-python==4.0.0.21
opencv-python-headless==4.1.0.25
ortools==7.0.6546
packaging==19.0
pandas==0.25.3
pandocfilters==1.4.2
parso==0.3.4
pathos==0.2.3
patsy==0.5.1
pbr==5.1.2
Pebble==4.3.10
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pipenv==2018.11.26
pkginfo==1.5.0.1
pluggy==0.8.1
ply==3.11
pox==0.2.5
poyo==0.4.2
ppft==1.6.4.9
prometheus-client==0.5.0
prompt-toolkit==2.0.8
protobuf==3.9.0
psutil==5.5.0
ptyprocess==0.6.0
PuLP==1.6.9
py==1.7.0
py-spy==0.1.10
pycallgraph==1.0.1
pycodestyle==2.5.0
pydocstyle==3.0.0
pyflakes==2.1.1
pyglet==1.3.2
Pygments==2.3.1
pylint==2.3.0
Pympler==0.7
Pyomo==5.6.6
PyOpenGL==3.1.0
pyparsing==2.3.1
pyswarms==1.1.0
pytest==4.3.0
python-coveralls==2.9.1
python-dateutil==2.8.0
pytz==2018.9
PyUtilib==5.7.1
PyYAML==3.13
pyzmq==17.1.3
qtconsole==4.4.3
ray==0.7.5
readme-renderer==24.0
redis==3.3.8
requests==2.21.0
requests-toolbelt==0.9.1
rope==0.12.0
scikit-learn==0.20.3
scipy==1.2.1
scoop==0.7.1.1
seaborn==0.9.0
Send2Trash==1.5.0
setproctitle==1.1.10
six==1.12.0
skits==0.1.2
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
statsmodels==0.9.0
stevedore==1.30.0
tensorboard==1.14.0
tensorflow==1.15.2
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==4.5.3
tqdm==4.31.1
traitlets==4.3.2
twine==1.13.0
typed-ast==1.2.0
urllib3==1.24.1
virtualenv==15.1.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whichcraft==0.5.2
widgetsnbextension==3.4.2
wrapt==1.11.1
